
#block1, #block2, #block3 {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}



#block1 {
    display: none;
}


#block2 {
    display: none;
}


#block3 {
    display: none;
}



#container {
    height: 75px;   
}

